.venv/
.venv_linux/
__pycache__/

data/raw/*
data/staging/*
data/outputs/*

!data/raw/.gitkeep
!data/staging/.gitkeep
!data/outputs/.gitkeep

*.duckdb

transform/target/
transform/dbt_packages/
transform/logs/

.DS_Store